# ROOT
.env
mysql
redis
db_dumps

#/SRC
src/node_modules
src/vendor
src/public/build
src/public/hot
src/public/storage
src/storage/*.key
src/.env
src/yarn-error.log
src/.phpunit.cache
src/.phpunit.result.cache
src/xdebug/*
!src/xdebug/.gitkeep
src/bootstrap/cache/*
!src/bootstrap/cache/.gitkeep

# Editors configs
.phpactor.yml
.vscode
.fleet
.idea
rr
.rr.yaml
src/.idea
src/.vscode
src/.fleet
src/rr
src/.rr.yaml
config/.gitconfig